@model OneMillionPixels.Models.Edit.EditStepOne
@{
    ViewBag.Title = "Set pixels";
}

@{
    foreach (var image in Model.Images)
    {
        string src = "data:" + image.ContentType + ";base64," + Convert.ToBase64String(image.BinaryContent);
        <a href="@Url.Action("EditStepTwo", new { id = image.ID, height = image.Height, width = image.Width })">
            <img src="@src" class="preview" />
        </a>
    }
} 