@{
    ViewBag.Title = "10^6 pixels";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Here you can help us become rich by purchasing some pixels on the canvas for only 1 USD each or you can just see how other people decided to make us rich by thinking this is a good place for advertisement.
            </p>
        </div>
    </section>
}
